---
# yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radarr
  namespace: radarr
spec:
  interval: 15m
  chart:
    spec:
      chart: radarr
      version: 23.19.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    metrics:
      main:
        enabled: false
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                RADARR__AUTH__METHOD: external
      exportarr:
        enabled: false
    ingress:
      main:
        enabled: true
        integrations:
          traefik:
            enabled: true
            middlewares:
              - name: internal-only
              - name: auth
        tls:
          - hosts:
              - radarr.${DOMAIN_0}
            clusterIssuer: domain-0-wildcard
        hosts:
          - host: radarr.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    persistence:
      media:
        enabled: true
        type: nfs
        path: /mnt/Storage/Storage
        mountPath: /Storage
        server: 192.168.0.2